body{
    background:#f4f7fb;
}

.card{
    border:none;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.table thead{
    background:#0d6efd;
    color:#fff;
}

.required{
    color:red;
}

.form-title{
    font-weight:bold;
}

.action-btn{
    width:70px;
}